.contenedor {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 175px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 23px rgb(38, 57, 77), -10px -10px 23px rgb(38, 57, 77);
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #f4d06f 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 1s ease-in-out;
}
.contenedor:before {
  background: #54b3d6;
}
.contenedor:hover {
  background-position: 0;
  transform: scale(1.4);
}
.infoCont {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}
.infoCont img {
  height: 80px;
  width: 80px;
}
.button {
  height: min-content;
  width: min-content;
  align-self: flex-end;
  margin-top: 2px;
  margin-right: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
@media screen and (max-width: 700px) {
  .contenedor {
    height: max-content;
    margin-top: 5px;
  }
}
